[submodule "external/NImGui"]
	path = external/NImGui
	url = https://github.com/tobid7vx/NImGui.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
